@import "../../common";

$size: $size-m;

.day {
  height: $size;
  width: $size;
  color: $text;
  background-color: $background;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: $background-hover;
  }
}

.day-picker {
  @include grid($size, 7);
  & .day {
    &.prev-month,
    &.next-month {
      color: $text-light;
    }
    &.is-today {
      border: 1px solid $border-today;
    }
    &.selected {
      color: $text-selected;
      background-color: $background-selected;
    }
  }
}
.week-days {
  @include grid($size, 7);
  .day-of-week {
    margin: $spacing-m 0;
    text-align: center;
    font-size: $font-size-small;
    line-height: $size-xs;
    font-weight: 600;
    vertical-align: middle;
  }
}
