@import "../../common";

$size: 30px;

.day-picker {
  @include grid($size, 7)
}

.day-of-week {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0;
}

.day {
  height: $size;
  width: $size;

  &.prev-day,
  &.next-day {
    color: #7f7f7f;
  }
}
