$size: 25px;

.day-picker {
  display: grid;
  grid-template-columns: repeat(7, $size);
  grid-gap: 3px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;
  width: $size;
  background-color: white;
  color: black;
  border: none;
  outline: none;

  &:hover {
    background-color: silver;
  }
  &.selected {
    background-color: aquamarine;
  }
  &.is-today {
    border: 1px solid blue;
  }
}

