@import "src/common";

.picker {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 4px;
  margin-top: 4px;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 2px;

  .day-picker,
  .month-picker,
  .year-picker {
    .day,
    .month,
    .year {
      color: $text;
      background-color: $background;
      border: none;
      outline: none;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: $background-hover;
      }
      &.prev-day,
      &.next-day {
        color: $text-light;
      }
      &.is-today {
        border: 1px solid $border-today;
      }
      &.selected {
        color: $text-selected;
        background-color: $background-selected;
      }
    }
  }
  .day-picker {
    @include grid($size-m, 7);
    .day {
      height: $size-m;
      width: $size-m;
    }
  }
  .month-picker,
  .year-picker {
    @include grid($size-xl, 4);
    .month,
    .year {
      height: $size-xl;
      width: $size-xl;
    }
  }
}

.week-days {
  @include grid($size-m, 7);
  .day-of-week {
    margin: $spacing-m 0;
    text-align: center;
    font-size: $font-size-small;
    line-height: $size-m;
    font-weight: 600;
    vertical-align: middle;
  }
}

.view-changer,
.range-changer {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background: #e2e2e2;
  }
  &.selected {
    background-color: #868686;
    color: white;
  }
  &.is-today {
    border: 1px solid #afafaf;
  }
}
