@import "src/common";

$size: $size-xl;

.year-picker {
  @include grid($size, 4, $spacing-s);
  .year {
    height: $size;
    width: $size;
    color: $text;
    background-color: $background;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: $background-hover;
    }
    &.is-today {
      border: 1px solid $border-today;
    }
    &.selected {
      color: $text-selected;
      background-color: $background-selected;
    }
  }
}
